// Header
$header-color: #363636;
$select-color: #423B3B;
$select-border-color: #E1E1E1;

// Producst List
$frame-color: #EEEEEE;
$frame-text-color: #746A6A;
$frame-decription-color: #746A6A;
$frame-price-color: #3486E6;
$thumbnail-background-color: #EEEEEE;

// Cart
$cart-header-title-color: #363636;
$cart-header-title-count-color: #7F7575;
$cart-border-color: #E1E1E1;
$cart-resume-title-color: #7F7575;
$cart-resume-total-color: #423B3B;
$cart-item-title-color: #7F7575;
$cart-item-price-color: #423B3B;
$cart-remove-item-color: white;
$cart-remove-item-bg-color: #54A3FF;
$cart-finalize-btn-color: white;
$cart-finalize-btn-bg-color: #54A3FF;
$cart-placeholder-text-color: #746A6A;

